n8n/workflows/bench_search_helper.json
{
  "updatedAt": "2026-04-23T13:48:32.617Z",
  "createdAt": "2026-04-23T08:10:13.931Z",
  "id": "WmPtxEQA24hLxB86",
  "name": "bench_search_helper",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bench-search",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "b1111111-1111-1111-1111-111111111111",
      "name": "Webhook",
      "webhookId": "4547ea1e-f987-4b06-908b-5a659090e837"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nreturn [{ json: { query: body.query, top_k: body.top_k ?? 5 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "b2222222-2222-2222-2222-222222222222",
      "name": "Prepare"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wsrsedBE9ooBeECD",
          "mode": "list",
          "cachedResultName": "semantic_search_papers"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.query }}",
            "top_k": "={{ $json.top_k }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        440,
        0
      ],
      "id": "b3333333-3333-3333-3333-333333333333",
      "name": "Call semantic_search"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare": {
      "main": [
        [
          {
            "node": "Call semantic_search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "a2f2de0c-271e-4836-8c47-2529af92aba4",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-23T08:10:13.931Z",
      "createdAt": "2026-04-23T08:10:13.931Z",
      "role": "workflow:owner",
      "workflowId": "WmPtxEQA24hLxB86",
      "projectId": "LQlSPgCOpK5UqmRi",
      "project": {
        "updatedAt": "2026-04-13T14:09:18.447Z",
        "createdAt": "2026-04-13T13:31:51.826Z",
        "id": "LQlSPgCOpK5UqmRi",
        "name": "Research Agent <rodionsurin@outlook.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6522aeb4-c3cd-45eb-a107-c97cbbb614b8"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}