n8n/workflows/telegram_agent.json
{
  "updatedAt": "2026-04-23T06:55:20.558Z",
  "createdAt": "2026-04-13T15:55:51.570Z",
  "id": "csXybzHS1aSleHCL",
  "name": "telegram_agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1168,
        32
      ],
      "id": "918562a0-7bb3-4a62-b183-8c01f234f83e",
      "name": "Telegram Trigger",
      "webhookId": "5abb5918-9ea9-4b8a-9009-65ceedd1d657",
      "credentials": {
        "telegramApi": {
          "id": "E8swXBEqtCkrtAro",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "={{ $('Get system prompt from Langfuse').item.json.prompt }}",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        944,
        0
      ],
      "id": "3d9d388c-53f4-4820-8cf9-8016e9749549",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        960,
        208
      ],
      "id": "f3fe66ec-5cfa-471c-a839-2666928a24fe",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "nw2LCxyZB00C6uhs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5.4-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        816,
        208
      ],
      "id": "b4529fe6-4206-494c-8f2c-d282e27bf22c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "I7YyDpuOKK1e3okL",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        32
      ],
      "id": "a9215c72-6854-4f90-a8df-a3bae13a98ea",
      "name": "Send a text message",
      "webhookId": "0fb13cb7-1385-42d0-ada7-d5fb6d620f2e",
      "credentials": {
        "telegramApi": {
          "id": "E8swXBEqtCkrtAro",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  u.id,\n  {{$('Telegram Trigger').item.json.message.chat.id}}::bigint AS telegram_chat_id,\n  (u.id IS NOT NULL) AS user_found\nFROM (\n  SELECT id\n  FROM users\n  WHERE telegram_chat_id = {{$('Telegram Trigger').item.json.message.chat.id}}\n  LIMIT 1\n) u\nRIGHT JOIN (SELECT 1) dummy ON true;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -864,
        -16
      ],
      "id": "a7331c25-5cb6-4d19-83d1-e4b9815cf7fd",
      "name": "Postgres: find user by telegram_chat_id",
      "credentials": {
        "postgres": {
          "id": "nw2LCxyZB00C6uhs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3aca39f6-e7e6-459a-8daf-31bbdece665d",
              "leftValue": "={{$json.user_found}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -640,
        -32
      ],
      "id": "e0626457-d7f4-4672-bb68-9f8841f05b89",
      "name": "IF user exists"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32f7b2e7-b361-460a-a8df-c81ad8f23d10",
              "name": "user_id",
              "value": "={{$json.id}}",
              "type": "string"
            },
            {
              "id": "f3dbff93-aab6-4857-8ad6-f869790f8f1a",
              "name": "=telegram_chat_id",
              "value": "={{$('Telegram Trigger').item.json.message.chat.id}}",
              "type": "number"
            },
            {
              "id": "69289928-6e42-43cd-bb3c-06ca029650ff",
              "name": "user_exists",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        64
      ],
      "id": "cdbfb3e9-ded2-4d20-acfd-e9ac0769800d",
      "name": "Set user context (false)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45923760-dcdb-4992-9b50-8718e982bda0",
              "name": "user_id",
              "value": "={{$json.id}}",
              "type": "string"
            },
            {
              "id": "5d08733c-153a-4d95-964f-6f05386fdf48",
              "name": "telegram_chat_id",
              "value": "={{$('Telegram Trigger').item.json.message.chat.id}}",
              "type": "number"
            },
            {
              "id": "16988926-9e6f-4835-a76e-47f1d39c2fa6",
              "name": "user_exists",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        -128
      ],
      "id": "152f5380-393e-4f91-a406-7e6ac8a56c86",
      "name": "Set user context (true)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16,
        -32
      ],
      "id": "3f898c85-208e-4a1a-b646-4dea76685be0",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (\n  telegram_chat_id,\n  first_name,\n  last_name,\n  username\n)\nVALUES (\n  {{$('Telegram Trigger').item.json.message.chat.id}},\n  '{{$('Telegram Trigger').item.json.message.from.first_name?.replace(/'/g, \"''\") || \"\"}}',\n  '{{$('Telegram Trigger').item.json.message.from.last_name?.replace(/'/g, \"''\") || \"\"}}',\n  '{{$('Telegram Trigger').item.json.message.from.username?.replace(/'/g, \"''\") || \"\"}}'\n)\nRETURNING id, telegram_chat_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -432,
        80
      ],
      "id": "8143b4d3-2699-4340-ac1f-395e0bbc0a38",
      "name": "Insert user",
      "credentials": {
        "postgres": {
          "id": "nw2LCxyZB00C6uhs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://api.githubcopilot.com/mcp",
        "authentication": "headerAuth",
        "include": "selected",
        "includeTools": [
          "get_file_contents",
          "search_code",
          "search_repositories"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1136,
        576
      ],
      "id": "40826538-7f2d-4c04-9c8f-2ede7eed3a73",
      "name": "GitHub MCP Client",
      "credentials": {
        "httpHeaderAuth": {
          "id": "dFeZFYpfaceIrFfM",
          "name": "GitHub Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function sanitizeLegacyMarkdown(text) {\n  if (typeof text !== 'string') return text;\n\n  // 1. Normalize GitHub-style bold **X** -> *X* (legacy Markdown uses single asterisk)\n  text = text.replace(/\\*\\*([^\\n*]+)\\*\\*/g, '*$1*');\n\n  // 2. Identify valid paired *bold* ranges (simple, non-nested)\n  const protect = (src, ch) => {\n    const ranges = [];\n    const re = new RegExp('\\\\' + ch + '([^\\\\n\\\\' + ch + ']+)\\\\' + ch, 'g');\n    let m;\n    while ((m = re.exec(src)) !== null) {\n      ranges.push([m.index, m.index + m[0].length]);\n    }\n    let out = '';\n    for (let i = 0; i < src.length; i++) {\n      const c = src[i];\n      if (c === ch) {\n        const inside = ranges.some(([a, b]) => i >= a && i < b);\n        out += inside ? c : '\\\\' + c;\n      } else {\n        out += c;\n      }\n    }\n    return out;\n  };\n\n  text = protect(text, '*');\n  text = protect(text, '_');\n\n  return text;\n}\n\nconst raw = $json.output;\nconst text = sanitizeLegacyMarkdown(raw);\n\nconst MAX = 4000;\nconst chunks = [];\nlet remaining = text;\nwhile (remaining.length > MAX) {\n  let cut = remaining.lastIndexOf('\\n', MAX);\n  if (cut <= 0) cut = MAX;\n  chunks.push(remaining.slice(0, cut));\n  remaining = remaining.slice(cut).trimStart();\n}\nchunks.push(remaining);\n\nreturn chunks.map(c => ({ json: { ...($json), text: c } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        32
      ],
      "id": "93da7b94-90bf-4f18-90d4-8ff76bb1acb7",
      "name": "(Maybe) Split message into smaller ones"
    },
    {
      "parameters": {
        "description": "Set or update the daily digest schedule.\nUse this tool when the user wants to enable, create, or change their digest delivery time.\nThe user provides the desired time (e.g. \"9 утра\", \"21:30\") and optionally a timezone.",
        "workflowId": {
          "__rl": true,
          "value": "KdOcP0kYiqxWJZZs",
          "mode": "list",
          "cachedResultUrl": "/workflow/KdOcP0kYiqxWJZZs",
          "cachedResultName": "set_digest_schedule"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Merge').item.json.user_id }}",
            "send_time": "={{ $fromAI(\"send_time\", \"Time in HH:MM 24h format, e.g. 09:00 or 21:30\") }}",
            "timezone": "={{ $fromAI(\"timezone\", \"IANA timezone, e.g. Europe/Moscow. Leave empty for default.\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "send_time",
              "displayName": "send_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2768,
        1104
      ],
      "id": "5960ac27-2664-44e6-be8a-96129b86cae7",
      "name": "Call 'set_digest_schedule'"
    },
    {
      "parameters": {
        "description": "Get the current digest schedule for the user.\nUse this tool when the user asks about their digest settings, schedule status, or when the next digest will be sent.",
        "workflowId": {
          "__rl": true,
          "value": "45KGFTgoIQCSLToX",
          "mode": "list",
          "cachedResultUrl": "/workflow/45KGFTgoIQCSLToX",
          "cachedResultName": "get_digest_schedule"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Merge').item.json.user_id }}"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2944,
        1104
      ],
      "id": "05f97924-3a36-460a-b7c3-4feee875f3b5",
      "name": "Call 'get_digest_schedule'"
    },
    {
      "parameters": {
        "description": "Disable the daily digest schedule.\nUse this tool when the user wants to stop, pause, turn off, or cancel their daily digest.",
        "workflowId": {
          "__rl": true,
          "value": "0uX9rtiHFqJPUqAO",
          "mode": "list",
          "cachedResultUrl": "/workflow/0uX9rtiHFqJPUqAO",
          "cachedResultName": "unset_digest_schedule"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Merge').item.json.user_id }}"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3120,
        1104
      ],
      "id": "1b64df32-85bc-4c70-9918-07fa40db128c",
      "name": "Call 'unset_digest_schedule'"
    },
    {
      "parameters": {
        "description": "Change the status of an existing idea.\n\nUse this tool when the user wants to pause, resume, complete, or drop an idea.\n\nAllowed statuses:\n- active\n- paused\n- done\n- dropped\n\nUse only for existing ideas. Do not invent idea_id.\nIf the target idea is unclear, first inspect the user's ideas and identify the correct one.",
        "workflowId": {
          "__rl": true,
          "value": "dAY5oaMsv4NZfAJa",
          "mode": "list",
          "cachedResultUrl": "/workflow/dAY5oaMsv4NZfAJa",
          "cachedResultName": "update_idea_status"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "new_status": "={{$fromAI(\"new_status\")}}",
            "idea_id": "={{$fromAI(\"idea_id\")}}",
            "user_id": "={{ $('Merge').item.json.user_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "idea_id",
              "displayName": "idea_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "new_status",
              "displayName": "new_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2576,
        944
      ],
      "id": "0617f8b3-9d49-4003-91da-78f12c6e4d94",
      "name": "Call 'update_idea_status'"
    },
    {
      "parameters": {
        "description": "List all ideas for a specific project.\n\nUse this tool when you need to inspect the ideas inside a project, for example before adding a new idea or when the user refers to existing ideas.\n\nInputs:\n- project_id: the project to list ideas from\n\nReturns:\n- list of ideas with ids, titles, and statuses",
        "workflowId": {
          "__rl": true,
          "value": "QnMwTwAcxUeKPTUq",
          "mode": "list",
          "cachedResultUrl": "/workflow/QnMwTwAcxUeKPTUq",
          "cachedResultName": "list_ideas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "project_id": "={{$fromAI(\"project_id\")}}",
            "user_id": "={{ $('Merge').item.json.user_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2400,
        944
      ],
      "id": "e4643aa9-28db-448d-af3a-6bfb0a195ba9",
      "name": "Call 'list_ideas'"
    },
    {
      "parameters": {
        "description": "Create a new research idea inside an existing project.\n\nUse this tool when the user clearly wants to save a specific research idea or hypothesis under a project.\n\nInputs:\n- project_id: the target project id\n- title: short name of the idea\n- description: optional description of the idea\n- keywords: a few technical keywords describing the idea\n\nDo not use this tool if the target project is unclear. In that case, ask a short clarification question first.",
        "workflowId": {
          "__rl": true,
          "value": "cnjja7CWwyZ8UVQu",
          "mode": "list",
          "cachedResultUrl": "/workflow/cnjja7CWwyZ8UVQu",
          "cachedResultName": "add_idea"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Merge').item.json.user_id }}",
            "project_id": "={{$fromAI(\"project_id\")}}",
            "description": "={{$fromAI(\"description\")}}",
            "title": "={{$fromAI(\"title\")}}",
            "keywords": "={{$fromAI(\"keywords\")}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2256,
        944
      ],
      "id": "0b948577-4edd-4e58-ad17-fd386760d984",
      "name": "Call 'add_idea'"
    },
    {
      "parameters": {
        "description": "List the user's existing research projects.\n\nUse this tool when you need to know which projects the user already has, especially before creating a new idea or when the user refers to an existing project.\n\nReturn the available project ids and titles so the correct project can be selected.",
        "workflowId": {
          "__rl": true,
          "value": "N0Q0IlqQ48ktXquB",
          "mode": "list",
          "cachedResultUrl": "/workflow/N0Q0IlqQ48ktXquB",
          "cachedResultName": "list_projects"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Merge').item.json.user_id }}"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1920,
        752
      ],
      "id": "2444fc13-5961-4a35-9bd2-64e79f981577",
      "name": "Call 'list_projects'"
    },
    {
      "parameters": {
        "description": "Create a new research project for the user.\n\nUse this tool when the user clearly expresses that they want to start or track a new research direction.\n\nA project is a high-level research topic (e.g., \"diffusion guidance\", \"mechanistic interpretability\", \"VLA models\").\n\nInputs:\n- title: short name of the project\n- description: optional explanation of the research direction\n- keywords: a few technical terms describing the project\n\nDo not use this tool for general discussion or hypothetical ideas unless the user intends to save them.",
        "workflowId": {
          "__rl": true,
          "value": "HdQOUq7YtK3Noptx",
          "mode": "list",
          "cachedResultUrl": "/workflow/HdQOUq7YtK3Noptx",
          "cachedResultName": "add_project"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{$fromAI(\"title\")}}",
            "description": "={{$fromAI(\"description\")}}",
            "keywords": "={{$fromAI(\"keywords\")}}",
            "user_id": "={{ $('Merge').item.json.user_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1776,
        752
      ],
      "id": "b452b0b2-99c8-4016-85d6-b330e7480dcd",
      "name": "Call 'add_project'"
    },
    {
      "parameters": {
        "description": "Search the internal paper corpus using semantic vector retrieval.\n\nUse this tool when the user asks:\n- what papers we already have on a topic\n- what similar papers exist in the internal corpus\n- what is in the corpus about a given method, concept, or research direction\n\nInput:\n- query: a short technical search query\n- top_k: number of results to return, usually 5\n\nQuery rules:\n- Pass only substantive technical keywords.\n- Omit meta-words such as \"recent\", \"latest\", \"papers\", \"research\", \"new\".\n- Keep the query short and content-focused.",
        "workflowId": {
          "__rl": true,
          "value": "wsrsedBE9ooBeECD",
          "mode": "list",
          "cachedResultUrl": "/workflow/wsrsedBE9ooBeECD",
          "cachedResultName": "semantic_search_papers"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "top_k": "={{$fromAI(\"top_k\", 5)}}",
            "query": "={{$fromAI(\"query\")}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "top_k",
              "displayName": "top_k",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1472,
        576
      ],
      "id": "6d8c884d-42f7-485a-84a0-f8a8f8a62eae",
      "name": "Call 'semantic_search_papers'"
    },
    {
      "parameters": {
        "description": "Search arxiv for papers (text search) or fetch a single paper by arxiv_id (id lookup).\nResults are automatically saved to the local corpus with embeddings.\n\nUse text search mode (provide 'query'):\n- When the user wants fresh papers on a topic\n- When semantic_search_papers returns insufficient results\n- The LLM chooses sort_by (relevance or submittedDate), sort_order, and max_results based on intent\n\nUse id lookup mode (provide 'arxiv_id'):\n- When the user gives a specific arxiv_id\n- Before calling semantic_scholar_lookup for a paper not yet in the corpus",
        "workflowId": {
          "__rl": true,
          "value": "hUojeucml5ZbAHqe",
          "mode": "list",
          "cachedResultUrl": "/workflow/hUojeucml5ZbAHqe",
          "cachedResultName": "arxiv_search"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Merge').item.json.user_id }}",
            "query": "={{ $fromAI(\"query\", \"arXiv search query using canonical phrases, e.g. 'diffusion guidance OR classifier-free guidance'. Leave empty if looking up a specific arxiv_id.\") }}",
            "sort_by": "={{ $fromAI(\"sort_by\", \"relevance or submittedDate\") }}",
            "max_results": "={{ $fromAI(\"max_results\", \"number of results, default 10, max 50\") }}",
            "arxiv_id": "={{ $fromAI(\"arxiv_id\", \"Exact arxiv_id to fetch (e.g. 2401.12345). Leave empty when doing a text search.\") }}",
            "sort_order": "={{ $fromAI(\"sort_order\", \"descending or ascending\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sort_by",
              "displayName": "sort_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "max_results",
              "displayName": "max_results",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "arxiv_id",
              "displayName": "arxiv_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sort_order",
              "displayName": "sort_order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1296,
        576
      ],
      "id": "ace15061-8c14-45db-a1df-538e22a90dcc",
      "name": "Call 'arxiv_search'"
    },
    {
      "parameters": {
        "description": "Update the status of an existing project.\n\nInput:\n- project_id: the UUID of the project to update (call list_projects first if unsure)\n- new_status: one of \"active\", \"paused\", \"archived\"\n\nSemantics:\n- active: user is actively working on this research direction\n- paused: temporarily on hold but may resume\n- archived: closed / no longer pursued\n\nUse this tool when the user says something like \"pause project X\", \"archive the nerf project\", \"resume NLP work\".\nDo not use this tool for ideas — ideas have their own statuses (active/paused/done/dropped) and a separate tool update_idea_status.",
        "workflowId": {
          "__rl": true,
          "value": "xFGgkYV2t6bjptc7",
          "mode": "list",
          "cachedResultUrl": "/workflow/xFGgkYV2t6bjptc7",
          "cachedResultName": "update_project_status"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Merge').item.json.user_id }}",
            "project_id": "={{$fromAI(\"project_id\")}}",
            "new_status": "={{$fromAI(\"new_status\")}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "new_status",
              "displayName": "new_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2064,
        752
      ],
      "id": "4b605bca-e2f4-4f69-9a3e-6d725f3ae467",
      "name": "Call 'update_project_status'"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Привет! Я research-ассистент, готовый помогать с твоими исследованиями.\n\nЧто я умею:\n📁 Хранить твои исследовательские проекты и идеи\n🔍 Искать свежие статьи на arXiv — каждый день автоматически и по твоему запросу\n📬 Искать статьи в локальном корпусе после их сохранения из arXiv\n💻 Искать код и репозитории на GitHub\n💬 Присылать персональный дайджест с оценкой релевантности\n\nКак начать:\n1. Скажи \"создай проект про [тему]\" — например, \"создай проект про диффузионные модели\"\n2. Добавь в него идеи — \"добавь идею про classifier-free guidance\"\n3. Настрой время дайджеста — \"присылай дайджест в 9 утра по Москве\"\n\nМожно сразу просить находить что-то:\n• \"найди у меня в корпусе статьи про [метод]\"\n• \"поищи на arXiv свежие работы по [теме]\"\n• \"найди репозитории про диффузионные модели на github\"\n\nГовори на естественном языке, я его понимаю. /help — полный список возможностей.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        -1632
      ],
      "id": "163a2aae-c6c5-4997-ba2f-7e25d7daa8ae",
      "name": "Respond to /start message",
      "webhookId": "0fb13cb7-1385-42d0-ada7-d5fb6d620f2e",
      "credentials": {
        "telegramApi": {
          "id": "E8swXBEqtCkrtAro",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Что я умею — формулируй запросы как удобно.\n\n📁 Проекты и идеи\n• создай проект \"Название\" с описанием \"...\"\n• список проектов / список идей\n• измени статус проекта на активный, \"на паузе\", или заархивируй его\n• измени статус идеи на активную, \"на паузе\", завершенную или отклоненную\n• добавь идею \"...\" в проект \"...\"\n\n🔍 Поиск статей\n• найди в моём корпусе статьи про X\n• поищи на arXiv свежие работы про Y\n• посмотри статью 2506.11039\n\n💻 Поиск по GitHub\n• найди репозитории про diffusion models\n• поищи код по запросу \"guidance scale\"\n• покажи содержимое файла `src/main.py` из репозитория `user/repo`\n\n📬 Дайджест\n• настрой дайджест на 9:00 по Москве\n• измени время дайджеста на 21:30\n• отмени рассылку дайджеста\n\nМеню команд (кнопка / в поле ввода):\n/start — начало работы\n/help — этот список\n/digest — дайджест сегодня\n/projects — мои проекты\n/ideas — мои идеи",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        -1296
      ],
      "id": "3d82a63c-9500-4e53-a9cc-b579ddbc5ba6",
      "name": "Respond to /help message",
      "webhookId": "0fb13cb7-1385-42d0-ada7-d5fb6d620f2e",
      "credentials": {
        "telegramApi": {
          "id": "E8swXBEqtCkrtAro",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "N0Q0IlqQ48ktXquB",
          "mode": "list",
          "cachedResultUrl": "/workflow/N0Q0IlqQ48ktXquB",
          "cachedResultName": "list_projects"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id }}"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        800,
        -1008
      ],
      "id": "4db1560a-bb90-4af0-86b5-0878327df584",
      "name": "Call 'list_projects' after /projects"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QnMwTwAcxUeKPTUq",
          "mode": "list",
          "cachedResultUrl": "/workflow/QnMwTwAcxUeKPTUq",
          "cachedResultName": "list_ideas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id }}",
            "project_id": "0"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        816,
        -688
      ],
      "id": "e3a7865d-5be8-426f-bcf0-38d2ed71c38c",
      "name": "Call 'list_ideas' after /ideas"
    },
    {
      "parameters": {
        "jsCode": "const projects = $json.projects || [];\n\nif (!projects.length) {\n  return [{ json: {\n    text: 'У тебя пока нет проектов.\\n\\nСоздай первый: \"создай проект про [тему]\"'\n  }}];\n}\n\nconst statusEmoji = { active: \"✅\", paused: \"⏸\", archived: \"📦\" };\n\nlet msg = \"📁 Твои проекты:\\n\\n\";\nfor (const p of projects) {\n  msg += `${statusEmoji[p.status] || \"❓\"} ${p.title}\\n`;\n  if (p.description) msg += `   ${p.description}\\n`;\n  if (p.keywords?.length) msg += `   🏷 ${p.keywords.join(\", \")}\\n`;\n  msg += \"\\n\";\n}\n\nreturn [{ json: { text: msg.trim() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -1008
      ],
      "id": "7c910ca5-a033-46bf-973d-c5bcde3ed19e",
      "name": "Prepare projects output"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        -1008
      ],
      "id": "0c978ebc-3640-4df5-9d08-001918e11a0f",
      "name": "Send projects output",
      "webhookId": "8008abf8-8e1f-4ee0-a431-bbdb5ed61e9b",
      "credentials": {
        "telegramApi": {
          "id": "E8swXBEqtCkrtAro",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ideas = $json.ideas || [];\n\nif (!ideas.length) {\n  return [{ json: {\n    text: 'У тебя пока нет идей.\\n\\nДобавь первую: \"добавь идею про [тему] в проект [название]\"'\n  }}];\n}\n\nconst statusEmoji = { active: \"✅\", paused: \"⏸\", done: \"✔️\", dropped: \"❌\" };\n\nlet msg = \"💡 Твои идеи:\\n\\n\";\nfor (const i of ideas) {\n  msg += `${statusEmoji[i.status] || \"❓\"} ${i.title}\\n`;\n  if (i.description) msg += `   ${i.description}\\n`;\n  if (i.keywords?.length) msg += `   🏷 ${i.keywords.join(\", \")}\\n`;\n  msg += \"\\n\";\n}\n\nreturn [{ json: { text: msg.trim() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -688
      ],
      "id": "3f9c705d-bc32-4358-9fb7-16b5b741fb91",
      "name": "Prepare ideas output"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        -704
      ],
      "id": "298f0880-b375-4406-835a-6328d7cc27ac",
      "name": "Send ideas output",
      "webhookId": "8008abf8-8e1f-4ee0-a431-bbdb5ed61e9b",
      "credentials": {
        "telegramApi": {
          "id": "E8swXBEqtCkrtAro",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "beb7e5cc-431b-43c5-8bbd-497a73d9dc13"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5ae0908e-1a06-4c4c-bc30-eae9ee14589b",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/help",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8ff8e833-baa7-487d-a814-6366b66929b7",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/projects",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7b18b3fe-b15f-4964-978e-b29ae37c103b",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/ideas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bb02db0f-ee8a-456c-bd0b-a2e6cb2597b5",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/digest",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        352,
        -112
      ],
      "id": "a1d48b67-9410-4597-b772-c1c3516c31b1",
      "name": "Switch: commands or LLM"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "J73g67dlY8p6KdPD",
          "mode": "list",
          "cachedResultUrl": "/workflow/J73g67dlY8p6KdPD",
          "cachedResultName": "daily_digest_for_user"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id }}"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        816,
        -352
      ],
      "id": "1abf95eb-c2cd-441e-86e4-8f6c28151f83",
      "name": "Call 'daily_digest_for_user' after /digest"
    },
    {
      "parameters": {
        "promptName": "telegram_agent_system",
        "requestOptions": {}
      },
      "type": "@langfuse/n8n-nodes-langfuse.langfuse",
      "typeVersion": 1,
      "position": [
        656,
        16
      ],
      "id": "947cb3d1-290d-4041-b764-2fbb1cb090be",
      "name": "Get system prompt from Langfuse",
      "credentials": {
        "langfuseApi": {
          "id": "gqKtUnj5w09uIlCr",
          "name": "Langfuse account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Telegram Trigger').first()?.json || {};\nconst message = trigger.message || {};\nconst userText = message.text || message.caption || '';\n\nlet userId = null;\ntry { userId = $('Merge').first()?.json?.user_id ?? null; } catch (_) {}\nconst chatId = message.chat?.id ?? null;\n\nconst agentItem = $('AI Agent').first()?.json || {};\nlet botReply = '';\nif (typeof agentItem.output === 'string') {\n  botReply = agentItem.output;\n} else if (typeof agentItem.text === 'string') {\n  botReply = agentItem.text;\n} else {\n  botReply = JSON.stringify(agentItem);\n}\n\nconst MAX_TOOL_OUT = 20000;\nfunction truncate(v) {\n  if (v == null) return v;\n  const s = typeof v === 'string' ? v : JSON.stringify(v);\n  return s.length > MAX_TOOL_OUT ? s.slice(0, MAX_TOOL_OUT) + `… [truncated ${s.length - MAX_TOOL_OUT} chars]` : s;\n}\n\nlet toolsCalled = [];\ntry {\n  const steps = agentItem.intermediateSteps || agentItem.intermediate_steps || [];\n  toolsCalled = steps.map(s => ({\n    tool: s.action?.tool ?? s.tool ?? null,\n    input: s.action?.toolInput ?? s.toolInput ?? null,\n    output: truncate(s.observation ?? s.result ?? null),\n  })).filter(t => t.tool);\n} catch (_) {}\n\nreturn [{\n  json: {\n    success: true,\n    user_id: userId,\n    telegram_chat_id: chatId,\n    user_message: userText,\n    bot_reply: botReply,\n    tools_called: toolsCalled,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -208
      ],
      "id": "6a9250cc-095a-4530-8158-4f58499673ac",
      "name": "Return"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Postgres: find user by telegram_chat_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "(Maybe) Split message into smaller ones",
            "type": "main",
            "index": 0
          },
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: find user by telegram_chat_id": {
      "main": [
        [
          {
            "node": "IF user exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF user exists": {
      "main": [
        [
          {
            "node": "Set user context (true)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set user context (true)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set user context (false)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch: commands or LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert user": {
      "main": [
        [
          {
            "node": "Set user context (false)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "(Maybe) Split message into smaller ones": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'set_digest_schedule'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'get_digest_schedule'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'unset_digest_schedule'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'update_idea_status'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'list_ideas'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'add_idea'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'list_projects'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'add_project'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'semantic_search_papers'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'arxiv_search'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'update_project_status'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'list_projects' after /projects": {
      "main": [
        [
          {
            "node": "Prepare projects output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare projects output": {
      "main": [
        [
          {
            "node": "Send projects output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'list_ideas' after /ideas": {
      "main": [
        [
          {
            "node": "Prepare ideas output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare ideas output": {
      "main": [
        [
          {
            "node": "Send ideas output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: commands or LLM": {
      "main": [
        [
          {
            "node": "Respond to /start message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to /help message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'list_projects' after /projects",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'list_ideas' after /ideas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'daily_digest_for_user' after /digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get system prompt from Langfuse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'daily_digest_for_user' after /digest": {
      "main": [
        []
      ]
    },
    "Get system prompt from Langfuse": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "9qLJPkzSbPAxHeud",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "bb0dbb56-cce0-470c-b862-40b54547b83e",
  "activeVersionId": "bb0dbb56-cce0-470c-b862-40b54547b83e",
  "versionCounter": 721,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-13T15:55:51.570Z",
      "createdAt": "2026-04-13T15:55:51.570Z",
      "role": "workflow:owner",
      "workflowId": "csXybzHS1aSleHCL",
      "projectId": "LQlSPgCOpK5UqmRi",
      "project": {
        "updatedAt": "2026-04-13T14:09:18.447Z",
        "createdAt": "2026-04-13T13:31:51.826Z",
        "id": "LQlSPgCOpK5UqmRi",
        "name": "Research Agent <rodionsurin@outlook.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6522aeb4-c3cd-45eb-a107-c97cbbb614b8"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version bb0dbb56",
    "description": ""
  }
}