n8n/workflows/update_project_status.json
{
  "updatedAt": "2026-04-22T07:26:49.588Z",
  "createdAt": "2026-04-22T07:24:38.175Z",
  "id": "xFGgkYV2t6bjptc7",
  "name": "update_project_status",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id"
            },
            {
              "name": "project_id"
            },
            {
              "name": "new_status"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -832,
        96
      ],
      "id": "684bb54a-57fb-4d24-9358-7f5ac8cea7d1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "423e154a-5a64-4355-8683-25b2e186748e",
              "name": "user_id",
              "value": "={{$json.user_id}}",
              "type": "string"
            },
            {
              "id": "0588b4e2-ad96-494e-9d7e-d7b43b45c14f",
              "name": "project_id",
              "value": "={{ $json.project_id }}",
              "type": "string"
            },
            {
              "id": "fc98c45e-fe86-4878-8db2-dc28006189e2",
              "name": "new_status",
              "value": "={{$json.new_status}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        96
      ],
      "id": "63807da3-dd1b-48d1-b8dc-55e5dc6cbed5",
      "name": "Set"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      success: false,\n      error: \"project not found or not yours\",\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        192
      ],
      "id": "c3fe5b25-c369-48ee-8c3d-64ded25f20dc",
      "name": "Not found"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      success: true,\n      project_id: $json.id,\n      title: $json.title,\n      new_status: $json.status,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "c0ef3cd2-5074-48c2-a4c4-9899295e714d",
      "name": "Success"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE projects\nSET\n  status = '{{ $('Set').item.json.new_status }}',\n  updated_at = now()\nWHERE\n  id = '{{ $('Set').item.json.project_id }}'\n  AND user_id = '{{ $('Set').item.json.user_id }}'\nRETURNING id, title, status;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -416,
        96
      ],
      "id": "27601354-8d59-41e5-8935-f424a4b4d733",
      "name": "Update project status",
      "credentials": {
        "postgres": {
          "id": "nw2LCxyZB00C6uhs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3a971acb-5d6f-4f46-a392-e318c3ecef66",
              "leftValue": "={{$json.id}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        96
      ],
      "id": "9b3c88c1-a4bf-45a1-942b-11725d4bad34",
      "name": "IF id exists?"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Update project status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update project status": {
      "main": [
        [
          {
            "node": "IF id exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF id exists?": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "82574b57-2dd1-4e7e-8298-ae727df9b3bb",
  "activeVersionId": "82574b57-2dd1-4e7e-8298-ae727df9b3bb",
  "versionCounter": 16,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-22T07:24:38.175Z",
      "createdAt": "2026-04-22T07:24:38.175Z",
      "role": "workflow:owner",
      "workflowId": "xFGgkYV2t6bjptc7",
      "projectId": "LQlSPgCOpK5UqmRi",
      "project": {
        "updatedAt": "2026-04-13T14:09:18.447Z",
        "createdAt": "2026-04-13T13:31:51.826Z",
        "id": "LQlSPgCOpK5UqmRi",
        "name": "Research Agent <rodionsurin@outlook.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6522aeb4-c3cd-45eb-a107-c97cbbb614b8"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 82574b57",
    "description": ""
  }
}